html {
  scroll-behavior: smooth;
}

.dark-main-color {
  color:#044e3e;
}

.dark-main-bg-color {
  background:#044e3e;
}

.main-bg-color {
  background: #30e8bd;
}

a.anchor {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
